#define($customcss)
<style type="text/css">
	
</style>
#end

#define($module_script)
<script type="text/javascript">
	$(function(){
	    $('#cropbox').Jcrop({
	      aspectRatio: 1,
	      onSelect: updateCoords
	    });
	    
	    $('#cropbox').Jcrop({
	      aspectRatio: 1,
	      onSelect: updateCoords
	    });
	    $('#submitBtn').click(function(data){
	    	console.log("data: " + data);
	    	document.getElementById("cropForm").submit();
	    });
	    showNavByModule();
	});
	function updateCoords(c)
	{
	    $('#x').val(c.x);
	    $('#y').val(c.y);
	    $('#w').val(c.w);
	    $('#h').val(c.h);
	};
	function checkCoords()
	{
	    if (parseInt($('#w').val())) return true;
	    alert('Please select a crop region then press submit.');
	    return false;
	};
</script>
#end

#define($content)
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h5 class="page-header"><label>添加用户</label></h5>
	<div class="row">
	<div class="fileinput fileinput-new" data-provides="fileinput">
	  <div  id="cropbox" class="fileinput-preview" data-trigger="fileinput" style="">
	  	  <img src="/resources/images/030.jpg" />
	  </div>
	  <div>
	  <form id="cropForm" action="/box/avatar/upload" method="post" class="" enctype="multipart/form-data" >
	    <span class="btn btn-default btn-file">
		    <span class="fileinput-new">选择图片</span>
		    <span class="fileinput-exists">更换</span>
		    
		    <input type="file" name="avatar">
	    </span>
	    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">删除</a>
	    <!-- <a id='submitBtn' href="#" class="btn btn-default fileinput-exists">确定</a> -->
	    <input id='submitBtn' type="submit" value="确定" />
	    <input id='w' type="hidden" value="0" name="width">
	    <input id='h' type="hidden" value="0" name="height">
	    <input id='x' type="hidden" value="0" name="x">
	    <input id='y' type="hidden" value="0" name="y">
	  </form>
	  </div>
	</div>
	</div>
</div>
#end